<%= form_for(@article) do |f|%>
  <div class="field">
  <%= f.text_field :title, placeholder: "Titulo" %>
  </div>
  <div class="field">
    <%= f.text_area :body, placeholder: "Escribe aqui el articulo"%>
  </div>
<%end%>