<% if user_signed_in?%>
<h1>Bienvenido <%= current_user.email%></h1>
<%end%>

<div class="container">
<div class="star">
 Gracias por visitar mi blog
</div>
<section class="bg-idm">
<div>
Aqui podas crear articulos a tu gusto para que los demas usuarios puedan comentar y dar  sus mejores opiniones <br>
Espero sea de tu agrado y recomienda el Blog!!</div>
</section>
</div>



