@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
html,body{
    margin: 0%;
    font-family: 'Roboto Mono', monospace;
}
.btn{
    background-color: inherit;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 12px;
}
.top-space{
    margin-top: 1em;
}
.be-red{
    background-color: #1196A8;
}
.white{
    color: white
}
.large-padding{
    padding: 8px 7px
}

a,a:visited{
    color: inherit;
    text-decoration: none;
}

.no-margin{
    margin: 0%;
}

#logo{
    font-size: 1.2em;
}

.field{
    margin-top: 1em;
}

.form-control{
    border: none;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
}

.red{
     color: red !important;
}

